html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #4c0957;
  background-color: #e8946d;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: auto;
}

.searchResultDiv {
  margin: auto;
}

.title {
  font-size: 4rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: fit-content;
}

.label {
  margin: 0.2rem 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: fit-content;
  align-self: center;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
}

#movieInput {
  border-radius: 15px;
  margin: 0.1rem;
  border: 1px solid #232323;
  margin-right: 1rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  background-color: #ea9e7b;
}

#movieInput::placeholder {
  color: #4c0957;
  opacity: 1;
}

#searchBtn {
  border-radius: 8px;
  margin: 0.1rem;
  border: 1px solid #232323;
  font-size: 1.4rem;
  padding: 0.4rem;
  background-color: #4c0957;
  color: #e8946d;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #3d0745;
}

*:focus {
  outline: none;
}

.movieContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
}

.movieCard {
  width: 500px;
  margin: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  background-color: #ee9268;
}

.moviePoster {
  width: 490px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.moviePoster img {
  max-width: 100%;
  height: 100%;
}

.movieQuickView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.movieTitle {
  font-size: 2rem;
  font-weight: bold;
}

.movieRating {
  margin-left: 0.2rem;
  flex-shrink: 0;
  font-weight: bold;
}

.movieRelease {
  font-weight: bold;
}

.movieRelease {
  width: fit-content;
}

@media (max-width: 900px) {
  html {
    font-size: 10px;
  }

  .form {
    flex-direction: column;
  }

  .label {
    align-self: flex-start;
  }

  .movieCard {
    width: 200px;
  }

  .moviePoster {
    width: 190px;
  }

  p {
    font-size: 1.4rem;
  }
}

.hidden {
  visibility: hidden;
  height: 20px;
}
