html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #4c0957;
  background-color: #e8946d;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: auto;
}

.title {
  font-size: 3.5rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.label {
  margin: 0.2rem 0.4rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: fit-content;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
}

#movieInput {
  border-radius: 15px;
  margin: 0.1rem;
  border: 1px solid #232323;
  margin-right: 1rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  background-color: #ea9e7b;
}

#movieInput::placeholder {
  color: #4c0957;
  opacity: 1;
}

#searchBtn {
  border-radius: 8px;
  margin: 0.1rem;
  border: 1px solid #232323;
  font-size: 1.4rem;
  padding: 0.4rem;
  background-color: #4c0957;
  color: #e8946d;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #3d0745;
}

*:focus {
  outline: none;
}

@media (min-width: 780px) {
  .title {
    font-size: 4rem;
  }

  .form {
    flex-direction: row;
    align-items: flex-start;
  }

  .label {
    align-self: center;
  }
}
