html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #232323;
  background-color: #e6e6e6;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 85%;
  margin: auto;
}

.title {
  font-size: 4rem;
  text-align: center;
}
